@inject Oje.AccountService.Interfaces.ISectionService ModulService
@using Oje.Infrastructure.Services


@{
    void sideMenuTemplate(Oje.AccountService.Models.View.SiteMenueVM input)
    {
        if (string.IsNullOrEmpty(input.url))
        {
            <div class="sideMenuItem">
                <div class="sideMenuItemInner">
                    <span class="fa @(input.icon) menuIcon"></span>
                    <span title="@(input.title)" class="sMenuTitle">@(input.title)</span>
                    @{
                        if (input.childs != null && input.childs.Count > 0)
                        {
                            <span class="fa fa-chevron-left sideMenuSubIcon"></span>
                            <div class="sideSumMenuItems">
                                @{
                                    foreach (var cItem in input.childs)
                                    {
                                        sideMenuTemplate(cItem);
                                    }
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        }
        else
        {
            <a href="@(input.url)" class="sideMenuItem">
                <span class="sideMenuItemInner">
                    <span class="fa @(input.icon) menuIcon"></span>
                    <span title="@(input.title)" class="sMenuTitle">@(input.title)</span>
                </span>
            </a>
        }
    }
}

@{
    var moduals = ModulService.GetSideMenuWidthCategory(Context.GetLoginUser()?.UserId);
    if (moduals != null && moduals.Count > 0)
    {
        foreach (var item in moduals)
        {
            sideMenuTemplate(item);

        }
    }
}