@using Oje.Infrastructure.Services
@using Oje.AccountService.Interfaces
@inject IUserNotificationService UserNotificationService
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" asp-append-version="true" href="/Modules/Core/css/core.min.css.gz" />
    <link rel="stylesheet" asp-append-version="true" href="/Modules/Account/css/Account.min.css.gz" />

    <script asp-append-version="true" src="/Modules/Core/js/sr.js.gz"></script>
    <script asp-append-version="true" src="/Modules/Core/js/jquery.min.js.gz"></script>
    <script asp-append-version="true" src="/Modules/Core/js/core.min.js.gz"></script>
    <script asp-append-version="true" src="/Modules/Account/js/Account.min.js.gz"></script>

    <link rel="icon" type="image/x-icon" href="/Modules/Assets/favicon.ico.gz">
</head>
<body class="makeRTL">
    <div class="mainLoaderForAdminArea">
        <div class="loadingio-spinner-gear-icpl4a09xuh">
            <div class="ldio-sb2ixs780v">
                <div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
    </div>
    <aside class="sideMenuHolder">
        <span class="sideMenuHeader">کارگزاری اوج</span>
        <div class="sideMenu">
            <a href="/Account/Dashboard/Index" class="sideMenuItem">
                <span class="sideMenuItemInner">
                    <span class="fa fa-home menuIcon"></span>
                    <span>داشبرد</span>
                </span>
            </a>
            <cache expires-after="@TimeSpan.FromMinutes(10)" vary-by-cookie="login" vary-by="@(Oje.Infrastructure.GlobalConfig.siteMenuCache)">
                <partial name="~/Areas/Account/Views/Shared/_LayoutAdminSideMenu.cshtml" />
            </cache>
        </div>
    </aside>
    <main>
        <header>
            <span class="fa fa-bars headerTopMenuButton"></span>
            <a style="float:left;margin-top:7px;margin-right:10px;cursor:pointer;" id="moveBackButtonHistory" class="btn btn-warning btn-sm ">بازگشت<i style="margin-right:5px;" class="fa fa-chevron-left"></i></a>
            <script>
                if(document.referrer && history && history.length > 1 && document.referrer.indexOf(location.origin) > -1) {
                    $('#moveBackButtonHistory').click(function()
                    {
                        history.back();
                    });
                }
                else{
                    $('#moveBackButtonHistory').css('display','none');
                }
            </script>
            <span class="loginUserSecitonHeader">
                <span class="loginUserName"><a href="/UserAccount/UserNotification/Index" class="notificationCount">@(UserNotificationService.GetUserUnreadNotificationCount(Context.GetLoginUser()?.UserId))</a> @(!string.IsNullOrEmpty(Context.GetLoginUser()?.Fullname.Trim()) ? Context.GetLoginUser()?.Fullname : Context.GetLoginUser()?.Username)</span><i class="loginArrowMenu fa fa-sort-down"></i>
                <span class="loginUserMenu">
                    <a class="loginMenuItem" href="/Account/Dashboard/Logout"><i class="fa fa-sign-out-alt"></i> خروج</a>
                </span>
            </span>
        </header>
        <div class="mainContent">
            @RenderBody()
        </div>
    </main>

    @RenderSection("Scripts", required: false)
    <script>
        $('.notificationCount').click(function(e) { e.stopPropagation(); });
        $('.sideMenuHolder').initSideMenu();
        $('.headerTopMenuButton').click(function () {
            if ($('.sideMenuHolder').length > 0 && $('.sideMenuHolder')[0].toggleSideMenu) {
                $('.sideMenuHolder')[0].toggleSideMenu();
            }
        });
        $('.loginUserSecitonHeader').click(function (e) {
            $('.notificationHolder').removeClass('showLoginMenu');
            $(this).toggleClass('showLoginMenu');
            e.stopPropagation();
        });
        $('.loginUserMenu').click(function (e) {
            e.stopPropagation();
        });

        $('.notificationHolder').click(function (e) {
            $('.loginUserSecitonHeader').removeClass('showLoginMenu');
            $(this).toggleClass('showLoginMenu');
            e.stopPropagation();
        });
        $('.notificationHolder').click(function (e) {
            e.stopPropagation();
        });
        $('body').click(function () {
            $('.showLoginMenu').removeClass('showLoginMenu');
        });
    </script>
</body>
</html>
