@using Oje.Infrastructure
@using Oje.Infrastructure.Services
@inject Oje.AccountService.Interfaces.ISiteSettingService SiteSettingService
@inject Oje.AccountService.Interfaces.IPropertyService PropertyService
@{
    var curSetting = SiteSettingService.GetSiteSetting();
    if (curSetting == null)
    {
        throw new Exception("Not Found");
    }
}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charSet="utf-8" />
    <meta http-equiv="Content-Type" content="Type=text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta name="format-detection" content="telephone=no" />
    <meta property="og:locale" content="fa_IR" />
    <meta property="og:site_name" content="@(curSetting.Title)" />
    <meta name="twitter:card" content="summary_large_image" />
    <title>@ViewBag.Title</title>
    @{
        if (!string.IsNullOrEmpty(ViewData["ldJson"] + ""))
        {
            ViewContext.Writer.Write("<script type=\"application/ld+json\">" + ViewData["ldJson"] + "</script>");
        }
        if (!string.IsNullOrEmpty(ViewData["breadcrumbldObj"] + ""))
        {
            ViewContext.Writer.Write("<script type=\"application/ld+json\">" + ViewData["breadcrumbldObj"] + "</script>");
        }
    }
    <meta name="twitter:title" content="@ViewData["Title"]" />
    <meta property="og:title" content="@ViewData["Title"]" />
    @{
        var exteraMetaTag = PropertyService.GetBy<Oje.Infrastructure.Models.GlobalMetaTagCreateUpdateVM>(Oje.Infrastructure.Enums.PropertyType.GlobalMetaTag, SiteSettingService.GetSiteSetting()?.Id);
        if (exteraMetaTag != null)
        {
            ViewContext.Writer.Write(exteraMetaTag.tag1);
        }
    }

    @{
        if (!string.IsNullOrEmpty(ViewData["imageUrl"] + ""))
        {
            <meta property="og:image" content="@(ViewData["imageUrl"])" />
        }
        if (!string.IsNullOrEmpty(ViewData["type"] + ""))
        {
            <meta property="og:type" content="@ViewData["type"]" />
        }
        if (!string.IsNullOrEmpty(ViewData["createDate"] + ""))
        {
            <meta property="article:published_time" content="@ViewData["createDate"] " />
        }
        if (!string.IsNullOrEmpty(ViewData["canonical"] + ""))
        {
            <link rel="canonical" href="@ViewData["canonical"]" />
            <meta property="og:url" content="@ViewData["canonical"]" />
        }
        else
        {
            <link rel="canonical" href="@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)" />
            <meta property="og:url" content="@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)" />
        }
        if (!string.IsNullOrEmpty(ViewData["shortLink"] + ""))
        {
            <link rel="shortlink" href="@ViewData["shortLink"]" />
        }
        else
        {
            <link rel="shortlink" href="@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)" />
        }
        if (!string.IsNullOrEmpty(ViewData["metaDescription"] + ""))
        {
            <meta name="description" content="@ViewData["metaDescription"]" />
            <meta property="og:description" content="@ViewData["metaDescription"]" />
            <meta name="twitter:description" content="@ViewData["metaDescription"]" />
        }

    }

    <script src="/Modules/Core/js/jquery.min.js.gz"></script>
    <script src="/Modules/Core/js/sr.js.gz"></script>
    <script src="/Modules/Core/js/websiteCor.min.js.gz?v=@(GlobalConfig.GetAppVersion())"></script>
    <script src="/Modules/Core/js/treatmentMainPage.min.js.gz?v=@(GlobalConfig.GetAppVersion())"></script>

    <link rel="stylesheet" href="/Modules/Core/css/treatmentMaster.min.css.gz?v=@(GlobalConfig.GetAppVersion())" />
    <link rel="stylesheet" href="/Modules/Core/css/byFont.css.gz" />
    <link rel="stylesheet" href="/Modules/Core/css/websiteCore.min.css.gz?v=@(GlobalConfig.GetAppVersion())" />
    @RenderSection("Styles", required: false)
    @*<link rel="preload" as="font" href="/Modules/webfonts/YekanBakh/YekanBakhRegular.ttf" type="application/x-font-ttf" crossorigin="anonymous">*@
    <link rel="preload" as="font" href="/Modules/webfonts/fa-light-300.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="@(GlobalConfig.FileAccessHandlerUrl + curSetting.Image96)" sizes="32x32">
    <script>
        var isLH = @(Context.Request.IsLighthouse().ToString().ToLower())
    </script>
    <link rel="manifest" href="/manifest.json" />
    <!-- ios support -->
    <link rel="apple-touch-icon" href="@(GlobalConfig.FileAccessHandlerUrl + curSetting.Image96)" />
    <link rel="apple-touch-icon" href="@(GlobalConfig.FileAccessHandlerUrl + curSetting.Image192)" />
    <link rel="apple-touch-icon" href="@(GlobalConfig.FileAccessHandlerUrl + curSetting.Image512)" />
    <meta name="apple-mobile-web-app-status-bar" content="#db4938" />
    <meta name="theme-color" content="#db4938" />
    <script>
        var whatToDoAfterUserLogin = [];
    </script>
</head>
<body dir="rtl" class="makeRTL">
    <div class="wrapper">
        <header>
            <div class="container">
                <div class="holderHeaderStuff">
                    <a href="/" class="holderMainPageIcon">
                        <img class="mainLogo" src="@(GlobalConfig.FileAccessHandlerUrl + curSetting.Image192)" width="50" height="50" alt="@curSetting.Title" />
                        <div class="holderMainTitle">
                            <h1 class="mainTitle">@curSetting.Title</h1>
                            <h2 class="mainSubTitle">@curSetting.SubTitle</h2>
                        </div>
                    </a>
                    <div class="holderMenus">
                        <div class="topMenuNewResponsiveButton">
                            <span class="topMenuNewResponsiveButtonLine"></span>
                            <span class="topMenuNewResponsiveButtonLine"></span>
                            <span class="topMenuNewResponsiveButtonLine"></span>
                        </div>
                        <nav id="headerMenu" class="headerMenu">
                        </nav>
                        <script>
                            $('.holderMenus').initMenue('/TopMenu/GetTopMenu');
                        </script>
                    </div>
                    <div class="holderMainPageButtons">
                        <button title="تماس با پشتیبانی به صورت آنلاین چت" type="button" onclick="initOnlineChat()" class="btn btn-success">مشاوره رایگان</button>
                        <span style="cursor:pointer;" id="registerNewDamageClime" title="ثبت خسارت" class="btn btn-secondary">ثبت خسارت</span>
                    </div>
                </div>
            </div>
        </header>
      
        <content class="mainContent">
            @RenderBody()
        </content>
        <footer>
            <div style="margin-top:0px;" class="changeFooterBG">
                <div class="container">
                    <div class="row hideOnMobile">
                        <div class="col">
                            <div style="padding:10px;" class="licenceHolderW"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-top:25px;" class="container">
                <div class="row">
                    <div class="col">
                        <div  class="footerLoginBox">
                            <div class="footerLoginBoxIcon">
                                <i class="fa fa-user" ></i>
                            </div>
                            <div class="footerLoginBoxDesc">
                                <div class="footerLoginBoxDescTitle">پرتال بیمه شدگان</div>
                                <div class="footerLoginBoxDescSubTitle">ارسال مدارک , اطلاع رسانی و ارشیو اسناد</div>
                            </div>
                            <div class="footerLoginBoxLoginLabelHolder"><span class="footerLoginBoxLoginLabelHolderTitle">ورود</span><span class="footerLoginBoxLoginLabelHolderArrow">></span></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footerLoginBox">
                            <div class="footerLoginBoxIcon">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="footerLoginBoxDesc">
                                <div class="footerLoginBoxDescTitle">پرتال رابط درمان سازمانی</div>
                                <div class="footerLoginBoxDescSubTitle">لیست بیمه شدگان , الحاقیه و گزارش مدیریتی</div>
                            </div>
                            <div class="footerLoginBoxLoginLabelHolder"><span class="footerLoginBoxLoginLabelHolderTitle">ورود</span><span class="footerLoginBoxLoginLabelHolderArrow">></span></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footerLoginBox">
                            <div class="footerLoginBoxIcon">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="footerLoginBoxDesc">
                                <div class="footerLoginBoxDescTitle">پرتال ارزیابان خسارت</div>
                                <div class="footerLoginBoxDescSubTitle">دسترسی به اسناد ارسال شده جهت برسی</div>
                            </div>
                            <div class="footerLoginBoxLoginLabelHolder"><span class="footerLoginBoxLoginLabelHolderTitle">ورود</span><span class="footerLoginBoxLoginLabelHolderArrow">></span></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footerLoginBox">
                            <div class="footerLoginBoxIcon">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="footerLoginBoxDesc">
                                <div class="footerLoginBoxDescTitle">پرتال مدیریت درمان</div>
                                <div class="footerLoginBoxDescSubTitle">پرتال مدیریتی و نظارت کارگزاری</div>
                            </div>
                            <div class="footerLoginBoxLoginLabelHolder"><span class="footerLoginBoxLoginLabelHolderTitle">ورود</span><span class="footerLoginBoxLoginLabelHolderArrow">></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                initWhatToDoLogin();
                bindloginButton();
            </script>
            <div class="changeFooterBG">
                <div class="container reverseForDescktop">
                    <div class="row">
                        <div class="col">
                            <div class="copyRight">
                                <div class="footerSharingAndCopyRightSection">
                                    <div class="footerCopyRightSection">
                                        کلیه حقوق این سرویس (وب‌سایت و اپلیکیشن‌های موبایل) محفوظ و متعلق به @(!string.IsNullOrEmpty(curSetting.CopyRightTitle) ? curSetting.CopyRightTitle : curSetting.Title) می‌باشد.
                                    </div>
                                    <div style="display:block;" class="footerCenterSection">
                                        مرکز تماس : 
                                        <a style="display:inline-block;direction:ltr;font-weight:bold;font-size:15px;" id="supportPhone"></a>
                                    </div>
                                    <div class="footerSharingIconSection">
                                        <a id="aTelegeram" title="تلگرام" href="#"><img width="32" height="32" alt="تلگرام" data-src="/Modules/Assets/MainPage/telegramsilver.svg" data-alt-src="/Modules/Assets/MainPage/telegram.svg" /></a>
                                        <a id="aWhatapp" title="واتساپ" href="#"><img width="32" height="32" alt="واتساپ" data-src="/Modules/Assets/MainPage/whatsappsilver.svg" data-alt-src="/Modules/Assets/MainPage/whatsapp.svg" /></a>
                                        <a id="aInestageram" title="اینستاگرام" href="#"><img width="32" height="32" alt="انستاگرام" data-src="/Modules/Assets/MainPage/instagramsilver.svg" data-alt-src="/Modules/Assets/MainPage/instagram.svg" /></a>
                                        <a id="aLinkin" title="لینکدین" href="#"><img width="32" height="32" alt="لینک این" data-src="/Modules/Assets/MainPage/linkedinsilver.svg" data-alt-src="/Modules/Assets/MainPage/linkedin.svg" /></a>
                                    </div>
                                    <script>
                                        bindFooterIcons();
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row showJustOnMobile">
                        <div class="col">
                            <div class="licenceHolderW"></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div id="modalHolder" style="padding:30px;">

    </div>
    <script>
        @{
            if (Context.Request.IsHttps)
            {
                ViewContext.Writer.Write("caches.delete('mainServiceName');localStorage.clear();" + Environment.NewLine);
            }
        }
    </script>
    <script>
        $('#registerNewDamageClime').click(function () {
            showEditModal(-1, '/Contract/Index?ignoreMaster=True', 'newDamageClimeModal', this, null, null, null, true)
        });
        generateForm({
            panels: [
                {
                    moduals: [
                        {
                            "id": "newDamageClimeModal",
                            "title": "خسارت جدید",
                            "class": "modal-xl",
                            "ctrls": [
                            ],
                            "actions": [
                                {
                                    "title": "بستن",
                                    "onClick": "closeThisModal(this)",
                                    "class": "btn-secondary"
                                }
                            ]
                        }
                    ]
                }
            ]
        }, $('#modalHolder'));
    </script>
</body>
</html>
