@using Oje.Infrastructure.Services
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charSet="utf-8" />
    <meta http-equiv="Content-Type" content="Type=text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=6.0" />
    <meta name="robots" content="index, follow" />
    <meta name="format-detection" content="telephone=no" />
    <meta property="og:locale" content="fa_IR" />
    <meta property="og:site_name" content="ستاد بیمه" />
    <meta name="twitter:card" content="summary_large_image" />
    <title>@ViewBag.Title</title>
    <meta name="twitter:title" content="@ViewData["Title"]" />
    <meta property="og:title" content="@ViewData["Title"]" />


    @{
        if (!string.IsNullOrEmpty(ViewData["imageUrl"] + ""))
        {
            <meta property="og:image" content="@(ViewData["imageUrl"])" />
        }
        if (!string.IsNullOrEmpty(ViewData["type"] + ""))
        {
            <meta property="og:type" content="@ViewData["type"]" />
        }
        if (!string.IsNullOrEmpty(ViewData["createDate"] + ""))
        {
            <meta property="article:published_time" content="@ViewData["createDate"] " />
        }
        if (!string.IsNullOrEmpty(ViewData["canonical"] + ""))
        {
            <link rel="canonical" href="@ViewData["canonical"]" />
            <meta property="og:url" content="@ViewData["canonical"]" />
        }
        else
        {
            <link rel="canonical" href="@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)" />
            <meta property="og:url" content="@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)" />
        }
        if (!string.IsNullOrEmpty(ViewData["shortLink"] + ""))
        {
            <link rel="shortlink" href="@ViewData["shortLink"]" />
        }
        else
        {
            <link rel="shortlink" href="@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)" />
        }
        if (!string.IsNullOrEmpty(ViewData["metaDescription"] + ""))
        {
            <meta name="description" content="@ViewData["metaDescription"]" />
            <meta property="og:description" content="@ViewData["metaDescription"]" />
            <meta name="twitter:description" content="@ViewData["metaDescription"]" />
        }

    }

    <script src="/Modules/Core/js/jquery.min.js.gz"></script>

    <script asp-append-version="true" src="/Modules/Core/js/websiteCor.min.js.gz"></script>
    <script asp-append-version="true" src="/Modules/Core/js/mainPage.min.js.gz"></script>

    <link rel="stylesheet" asp-append-version="true" href="/Modules/Core/css/master.min.css.gz" />
    <link rel="stylesheet" asp-append-version="true" href="/Modules/Core/css/websiteCore.min.css.gz" />
    @RenderSection("Styles", required: false)
    <link rel="preload" as="font" href="/Modules/Webfonts/Vazir/Vazir-Regular-FD.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/Modules/webfonts/fa-light-300.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/Modules/Assets/favicon.ico.gz" sizes="32x32">
    <script>
        var isLH =  @(Context.Request.IsLighthouse().ToString().ToLower())
    </script>
</head>
<body dir="rtl" class="makeRTL">
    <div class="wrapper">
        <header>
            <section class="topHeader">
                <div class="myContainer">
                    <a title="ستاد بیمه" href="/"><img class="mainHeaderLogo" title="لوگوی ستاد بیمه" src="/Modules/Assets/MainPage/logo.png" width="85" height="77" /></a>
                    <img class="mainHeaderElectronDevelopLogo" title="لوگوی مرکز توسعه تجارت الکترونیکی" src="/Modules/Assets/MainPage/electronDevelopment.png" width="85" height="77" />
                    <img class="mainHeaderIranLogo" title="لوگوی ایران" src="/Modules/Assets/MainPage/iranlogo.png" width="85" height="77" />
                    <h1 class="mainHeaderCompanyName"><a style="font-size:1em;" title="ستاد بیمه" href="/">ستاد بیمه</a></h1>
                </div>
            </section>
            <nav class="headerMenu ">
                <div class="myContainer">
                    <div class="topMenuBtton" tabindex="0">
                        <div class="topMenuBttonLine"></div>
                        <div class="topMenuBttonLine"></div>
                        <div class="topMenuBttonLine"></div>
                    </div>
                    <div class="holderRigAndLogUser">
                        <a class="secountBtn">ورود</a>
                        <a href="#" title="ثبت نام" class="mainBtn">ثبت نام</a>
                    </div>
                    <div id="topMenuHolderItems" class="headerMenuInner">
                        <div class="headerMenuItem ">
                            <div class="headerMenuItemInner headerMenuItemHasArrow">
                                <span class="headerMenuItemLink">معرفی بیمه</span>
                            </div>
                            <div class="headerMenuItemSumMenuItems">
                                <div class="myContainer">
                                    <div class="headerMenuItemSumMenuItemsInner">
                                        <div class="headerMenuItemGroup headerMenuMoveBackButton">
                                            <span class="headerMenuItemLink">معرفی بیمه</span>
                                        </div>
                                        <div class="headerMenuItemGroup">
                                            <div class="headerMenuItemGroupTitle">از کجا شروع کنم ؟</div>
                                            <a href="#" class="headerMenuItemGroupItem">شروع سرمایه گذاری</a>
                                            <a href="#" class="headerMenuItemGroupItem">راهکار های سرمایه گذاری در یک نگاه</a>
                                            <a href="#" class="headerMenuItemGroupItem">صندوق های سرمایه گذاری در یک نگاه</a>
                                            <a href="#" class="headerMenuItemGroupItem">درخواست مشاوره</a>
                                            <a href="#" class="headerMenuItemGroupItem">سوالات متداول</a>
                                        </div>
                                        <div class="headerMenuItemGroup">
                                            <div class="headerMenuItemGroupTitle">راهکار های سرمایه گذاری</div>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری کم ریسک</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری با تقسیم سود ماهانه</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری وجوه بیکار برای دوره های کوتاه مدن</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری تدریجی با مبالغ کم</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری اختصاصی شما</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری در طلا</a>
                                        </div>
                                        <div class="headerMenuItemGroup">
                                            <div class="headerMenuItemGroupTitle">صندوق های سرمایه گذاری</div>
                                            <a href="#" class="headerMenuItemGroupItem">پیشتاز</a>
                                            <a href="#" class="headerMenuItemGroupItem">ممتاز</a>
                                            <a href="#" class="headerMenuItemGroupItem">پیشرو</a>
                                            <a href="#" class="headerMenuItemGroupItem">امید توسعه</a>
                                            <a href="#" class="headerMenuItemGroupItem">حاملی</a>
                                            <a href="#" class="headerMenuItemGroupItem">نامی</a>
                                        </div>
                                        <div class="headerMenuItemGroup headerMenuItemGroupVerticalCenter">
                                            <img title="سرماهی گذاری بورس" data-src="/Modules/Assets/MainPage/borse.png" width="159" height="191" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="headerMenuItem ">
                            <div class="headerMenuItemInner headerMenuItemHasArrow">
                                <span class="headerMenuItemLink">استعلام برخط</span>
                            </div>
                            <div class="headerMenuItemSumMenuItems">
                                <div class="myContainer">
                                    <div class="headerMenuItemSumMenuItemsInner">
                                        <div class="headerMenuItemGroup headerMenuMoveBackButton">
                                            <span class="headerMenuItemLink">استعلام برخط</span>
                                        </div>
                                        <div class="headerMenuItemGroup">
                                            <div class="headerMenuItemGroupTitle">از کجا شروع نکنم ؟</div>
                                            <a href="#" class="headerMenuItemGroupItem">شروع سرمایه گذاری</a>
                                            <a href="#" class="headerMenuItemGroupItem">راهکار های سرمایه گذاری در یک نگاه</a>
                                            <a href="#" class="headerMenuItemGroupItem">صندوق های سرمایه گذاری در یک نگاه</a>
                                            <a href="#" class="headerMenuItemGroupItem">درخواست مشاوره</a>
                                            <a href="#" class="headerMenuItemGroupItem">سوالات متداول</a>
                                        </div>
                                        <div class="headerMenuItemGroup">
                                            <div class="headerMenuItemGroupTitle">راهکار های سرمایه گذاری</div>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری کم ریسک</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری با تقسیم سود ماهانه</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری وجوه بیکار برای دوره های کوتاه مدن</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری تدریجی با مبالغ کم</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری اختصاصی شما</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری در طلا</a>
                                        </div>
                                        <div class="headerMenuItemGroup">
                                            <div class="headerMenuItemGroupTitle">صندوق های سرمایه گذاری</div>
                                            <a href="#" class="headerMenuItemGroupItem">پیشتاز</a>
                                            <a href="#" class="headerMenuItemGroupItem">ممتاز</a>
                                            <a href="#" class="headerMenuItemGroupItem">پیشرو</a>
                                            <a href="#" class="headerMenuItemGroupItem">امید توسعه</a>
                                            <a href="#" class="headerMenuItemGroupItem">حاملی</a>
                                            <a href="#" class="headerMenuItemGroupItem">نامی</a>
                                        </div>
                                        <div class="headerMenuItemGroup headerMenuItemGroupVerticalCenter">
                                            <img title="سرماهی گذاری بورس" data-src="/Modules/Assets/MainPage/borse.png" width="159" height="191" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="headerMenuItem ">
                            <div class="headerMenuItemInner headerMenuItemHasArrow">
                                <span class="headerMenuItemLink">درباره اوج</span>
                            </div>
                            <div class="headerMenuItemSumMenuItems">
                                <div class="myContainer">
                                    <div class="headerMenuItemSumMenuItemsInner">
                                        <div class="headerMenuItemGroup headerMenuMoveBackButton">
                                            <span class="headerMenuItemLink">درباره اوج</span>
                                        </div>
                                        <div class="headerMenuItemGroup">
                                            <div class="headerMenuItemGroupTitle">از کجا شروع نمی کنم ؟</div>
                                            <a href="#" class="headerMenuItemGroupItem">شروع سرمایه گذاری</a>
                                            <a href="#" class="headerMenuItemGroupItem">راهکار های سرمایه گذاری در یک نگاه</a>
                                            <a href="#" class="headerMenuItemGroupItem">صندوق های سرمایه گذاری در یک نگاه</a>
                                            <a href="#" class="headerMenuItemGroupItem">درخواست مشاوره</a>
                                            <a href="#" class="headerMenuItemGroupItem">سوالات متداول</a>
                                        </div>
                                        <div class="headerMenuItemGroup">
                                            <div class="headerMenuItemGroupTitle">راهکار های سرمایه گذاری</div>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری کم ریسک</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری با تقسیم سود ماهانه</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری وجوه بیکار برای دوره های کوتاه مدن</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری تدریجی با مبالغ کم</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری اختصاصی شما</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری در طلا</a>
                                        </div>
                                        <div class="headerMenuItemGroup">
                                            <div class="headerMenuItemGroupTitle">صندوق های سرمایه گذاری</div>
                                            <a href="#" class="headerMenuItemGroupItem">پیشتاز</a>
                                            <a href="#" class="headerMenuItemGroupItem">ممتاز</a>
                                            <a href="#" class="headerMenuItemGroupItem">پیشرو</a>
                                            <a href="#" class="headerMenuItemGroupItem">امید توسعه</a>
                                            <a href="#" class="headerMenuItemGroupItem">حاملی</a>
                                            <a href="#" class="headerMenuItemGroupItem">نامی</a>
                                        </div>
                                        <div class="headerMenuItemGroup headerMenuItemGroupVerticalCenter">
                                            <img title="سرماهی گذاری بورس" data-src="/Modules/Assets/MainPage/borse.png" width="159" height="191" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="headerMenuItem ">
                            <div class="headerMenuItemInner headerMenuItemHasArrow">
                                <span class="headerMenuItemLink">خدمات سازمانی</span>
                            </div>
                            <div class="headerMenuItemSumMenuItems">
                                <div class="myContainer">
                                    <div class="headerMenuItemSumMenuItemsInner">
                                        <div class="headerMenuItemGroup headerMenuMoveBackButton">
                                            <span class="headerMenuItemLink">خدمات سازمانی</span>
                                        </div>
                                        <div class="headerMenuItemGroup">
                                            <div class="headerMenuItemGroupTitle">از کجا شروع کردم ؟</div>
                                            <a href="#" class="headerMenuItemGroupItem">شروع سرمایه گذاری</a>
                                            <a href="#" class="headerMenuItemGroupItem">راهکار های سرمایه گذاری در یک نگاه</a>
                                            <a href="#" class="headerMenuItemGroupItem">صندوق های سرمایه گذاری در یک نگاه</a>
                                            <a href="#" class="headerMenuItemGroupItem">درخواست مشاوره</a>
                                            <a href="#" class="headerMenuItemGroupItem">سوالات متداول</a>
                                        </div>
                                        <div class="headerMenuItemGroup">
                                            <div class="headerMenuItemGroupTitle">راهکار های سرمایه گذاری</div>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری کم ریسک</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری با تقسیم سود ماهانه</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری وجوه بیکار برای دوره های کوتاه مدن</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری تدریجی با مبالغ کم</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری اختصاصی شما</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری در طلا</a>
                                        </div>
                                        <div class="headerMenuItemGroup">
                                            <div class="headerMenuItemGroupTitle">صندوق های سرمایه گذاری</div>
                                            <a href="#" class="headerMenuItemGroupItem">پیشتاز</a>
                                            <a href="#" class="headerMenuItemGroupItem">ممتاز</a>
                                            <a href="#" class="headerMenuItemGroupItem">پیشرو</a>
                                            <a href="#" class="headerMenuItemGroupItem">امید توسعه</a>
                                            <a href="#" class="headerMenuItemGroupItem">حاملی</a>
                                            <a href="#" class="headerMenuItemGroupItem">نامی</a>
                                        </div>
                                        <div class="headerMenuItemGroup headerMenuItemGroupVerticalCenter">
                                            <img title="سرماهی گذاری بورس" data-src="/Modules/Assets/MainPage/borse.png" width="159" height="191" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="headerMenuItem ">
                            <div class="headerMenuItemInner headerMenuItemHasArrow">
                                <span class="headerMenuItemLink">آموزش | راهنما</span>
                            </div>
                            <div class="headerMenuItemSumMenuItems">
                                <div class="myContainer">
                                    <div class="headerMenuItemSumMenuItemsInner">
                                        <div class="headerMenuItemGroup headerMenuMoveBackButton">
                                            <span class="headerMenuItemLink">آموزش | راهنما</span>
                                        </div>
                                        <div class="headerMenuItemGroup">
                                            <div class="headerMenuItemGroupTitle">از کجا شروع کردم ؟</div>
                                            <a href="#" class="headerMenuItemGroupItem">شروع سرمایه گذاری</a>
                                            <a href="#" class="headerMenuItemGroupItem">راهکار های سرمایه گذاری در یک نگاه</a>
                                            <a href="#" class="headerMenuItemGroupItem">صندوق های سرمایه گذاری در یک نگاه</a>
                                            <a href="#" class="headerMenuItemGroupItem">درخواست مشاوره</a>
                                            <a href="#" class="headerMenuItemGroupItem">سوالات متداول</a>
                                        </div>
                                        <div class="headerMenuItemGroup">
                                            <div class="headerMenuItemGroupTitle">راهکار های سرمایه گذاری</div>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری کم ریسک</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری با تقسیم سود ماهانه</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری وجوه بیکار برای دوره های کوتاه مدن</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری تدریجی با مبالغ کم</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری اختصاصی شما</a>
                                            <a href="#" class="headerMenuItemGroupItem">سرمایه گذاری در طلا</a>
                                        </div>
                                        <div class="headerMenuItemGroup">
                                            <div class="headerMenuItemGroupTitle">صندوق های سرمایه گذاری</div>
                                            <a href="#" class="headerMenuItemGroupItem">پیشتاز</a>
                                            <a href="#" class="headerMenuItemGroupItem">ممتاز</a>
                                            <a href="#" class="headerMenuItemGroupItem">پیشرو</a>
                                            <a href="#" class="headerMenuItemGroupItem">امید توسعه</a>
                                            <a href="#" class="headerMenuItemGroupItem">حاملی</a>
                                            <a href="#" class="headerMenuItemGroupItem">نامی</a>
                                        </div>
                                        <div class="headerMenuItemGroup headerMenuItemGroupVerticalCenter">
                                            <img title="سرماهی گذاری بورس" data-src="/Modules/Assets/MainPage/borse.png" width="159" height="191" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        $('.holderRigAndLogUser .secountBtn').initLoginButton('/Home/GetLoginModalConfig','loginForgetPasswordModal');
                        $('#topMenuHolderItems').loadTopMenu('/TopMenu/GetTopMenu');
                    </script>
                </div>
            </nav>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            <section class="footerSection">
                <div class="myContainer">
                    <div id="footerWeAreMoreThenGoodSection" class="footerWeAreMoreThenGoodSection">
                        <div class="footerWeAreMoreThenGoodSectionReson">
                            <div>
                                <img alt="رتبه یک سفر" width="80" height="80" data-src="/Modules/Assets/MainPage/number-1.svg" />
                            </div>
                            <div>
                                <div class="footerWeAreMoreThenGoodSectionResonTitle">کارگزاری بیمه برخط</div>
                                <div class="footerWeAreMoreThenGoodSectionResonDescription">معتبرترین عرضه کننده محصولات بیمه ای در کشور با مجوز بیمه مرکزی</div>
                            </div>
                        </div>
                        <div class="footerWeAreMoreThenGoodSectionReson">
                            <div>
                                <img alt="همسفر هر سفر" width="80" height="80" data-src="/Modules/Assets/MainPage/laptop.svg.gz" />
                            </div>
                            <div>
                                <div class="footerWeAreMoreThenGoodSectionResonTitle">خرید آسان بیمه</div>
                                <div class="footerWeAreMoreThenGoodSectionResonDescription">ارائه تمامی خدمات بیمه (ثالث , بدنه , درمان تکمیلی , مسئولیت و....)</div>
                            </div>
                        </div>
                        <div class="footerWeAreMoreThenGoodSectionReson">
                            <div>
                                <img alt="همسفر همه لحظات سفر" width="80" height="80" data-src="/Modules/Assets/MainPage/Messages.svg.gz" />
                            </div>
                            <div>
                                <div class="footerWeAreMoreThenGoodSectionResonTitle">پستیبانی در زمان خسارت</div>
                                <div class="footerWeAreMoreThenGoodSectionResonDescription">پشتیبانی و همراهی 24 ساعته در تمامی مراحل بیمه نامه و دریافت خسارت</div>
                            </div>
                        </div>
                    </div>
                    <script>
                        $('#footerWeAreMoreThenGoodSection').bindFooterDescription('/Home/GetFooterDescrption');
                    </script>
                    <div id="floatingFooterDestination"></div>
                    <div id="floatingFooter" class="makeMyContainer100">
                        <div class="myContainer">
                            <div class="floatingFooterSection">
                                <div>
                                    <a href="#" title="ثبت نام" class="mainBtn">ثبت نام</a>
                                    <a href="#" title="مشاوره رایگان" class="secountBtn">مشاوره رایگان</a>
                                </div>
                                <div class="floatingFooterSectionCenter">
                                    <div>مرکز تماس و پشتیبانی </div>
                                    <div>24 ساعت , 7 روز هفته</div>
                                </div>
                                <div class="floatingFooterSectionPhoneNumber">
                                    <div id="footerTell1">
                                        021-91008700
                                    </div>
                                    <div id="footerEmail">
                                        8700@emofid.com
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*  <div class="footerDownloadMobileApp">
                        <div class="footerDownloadMobileAppDescription">
                        <div class="footerDownloadMobileAppDescriptionTitle">اپلیکیشن علی بابا</div>
                        <div class="footerDownloadMobileAppDescriptionDes">
                        <span class="footerDownloadMobileAppDescriptionDesSpan">با نصب اپلیکیشن علی بابا بلیط همه سفر ها در جیب شماست . </span><a href="#" class="readMoreButton">مشاهده همه قابلیت ها</a>
                        </div>
                        </div>
                        <div class="footerDownloadMobileAppPlatforms">
                        <a style="color: #1dab3c;" class="footerDownloadAppButton" href="#"><img width="18" height="18" src="/Modules/Assets/MainPage/cafe18.png" alt="کافه بازار" />کافه بازار</a>
                        <a style="color: #0091ea;" class="footerDownloadAppButton" href="#"><img width="18" height="18" src="/Modules/Assets/MainPage/miket18.png" alt="مایکت" /> مایکت</a>
                        <a style="color: #492f8c" class="footerDownloadAppButton" href="#"><img width="18" height="18" src="/Modules/Assets/MainPage/sibapp.svg" alt="سیب اپ" /> سیب اپ</a>
                        <a class="footerDownloadAppButton" href="#"><img width="18" height="18" src="/Modules/Assets/MainPage/download.svg" alt="دانلود مستقیم" /> دانلود مستقیم</a>
                        </div>
                        </div>*@
                </div>
            </section>
            <section class="footerSection">
                <div class="myContainer">
                    <div class="footerAboutUsSections">
                        <div class="footerAboutUsSectionRight">
                            <nav id="footerNavMenu" class="footerNavMenue">
                                @*<div class="footerNavGroupItems">
                                    <div class="footerNavGroupItemsTitle">کارگزاری اوج</div>
                                    <a href="#" class="footerNavGroupItemsItem">درباره ما</a>
                                    <a href="#" class="footerNavGroupItemsItem">تماس با ما</a>
                                    <a href="#" class="footerNavGroupItemsItem">چرا کارگزاری اوج</a>
                                    <a href="#" class="footerNavGroupItemsItem">مجله کارگزاری اوج</a>
                                </div>
                                <div class="footerNavGroupItems">
                                    <div class="footerNavGroupItemsTitle">راهنما</div>
                                    <a href="#" class="footerNavGroupItemsItem">راهنمای خرید</a>
                                    <a href="#" class="footerNavGroupItemsItem">راهنمای فسخ بیمه نامه</a>
                                    <a href="#" class="footerNavGroupItemsItem">قوانین و مقررات</a>
                                    <a href="#" class="footerNavGroupItemsItem">پرسش و پاسخ</a>
                                </div>
                                <div class="footerNavGroupItems">
                                    <div class="footerNavGroupItemsTitle">اطلاعات تکمیلی</div>
                                    <a href="#" class="footerNavGroupItemsItem">باشگاه مشتریان</a>
                                    <a href="#" class="footerNavGroupItemsItem">فروش سازمانی</a>
                                    <a href="#" class="footerNavGroupItemsItem">همکاری با نمایندگان بیمه</a>
                                    <a href="#" class="footerNavGroupItemsItem">فرصد های شغلی</a>
                                </div>*@
                            </nav>
                            <div class="footerProductMenu">
                                <div id="holderfooterProductMenuItems" class="holderfooterProductMenuItems">
                                    @*<a href="#" class="footerProductMenuItem">بلیط چارتر</a>
                                        <a href="#" class="footerProductMenuItem">تور کیش</a>
                                        <a href="#" class="footerProductMenuItem">تور استامبول</a>
                                        <a href="#" class="footerProductMenuItem">اجاره ویلا جاباما</a>
                                        <a href="#" class="footerProductMenuItem">بلیط قطار</a>
                                        <a href="#" class="footerProductMenuItem">خرید بلیط هواپیمایی خارجی</a>
                                        <a href="#" class="footerProductMenuItem">اطلاعات فردوگاهی</a>
                                        <a href="#" class="footerProductMenuItem">شیوه نامه حقوقی مسافر</a>
                                        <a href="#" class="footerProductMenuItem">رزرو هتل</a>
                                        <a href="#" class="footerProductMenuItem">هتل مشهد</a>
                                        <a href="#" class="footerProductMenuItem">هتل کیش</a>
                                        <a href="#" class="footerProductMenuItem">هتل درویشی مشهد</a>
                                        <a href="#" class="footerProductMenuItem">هتل شایگان کیش</a>*@
                                </div>
                                <span class="showMoreButton">بیشتر</span>
                            </div>
                        </div>
                        <div class="footerAboutUsSectionLeft">
                            <a class="leftFooterLink" href="@(Context.Request.IsHttps ? "https" : "http")://@(Context.Request.Host)">@(Context.Request.Host)</a>
                            <span class="footerAboutUsTellNumber  ">تلفن پشتیبانی :<span id="footerTell2">021-43900000 | 021-49275000</span></span>
                            <span class="footerAboutUsTellNumber ">دفتر فروش :<span id="footerAddress"> قیطریه , بلوار اندرزگو , نبش کوچه ی بلوچ شمالی , پلاک 4</span></span>
                            <div id="footerSharingIconSection" class="footerLeftTrophyIcons">
                                @* <a href="#"><img width="80" height="80" data-src="/Modules/Assets/MainPage/etehadiyeLogo.png" alt="پیاده سازی نشده" /></a>
                                    <a href="#"><img width="80" height="80" data-src="/Modules/Assets/MainPage/etehadiyeLogo.png" alt="پیاده سازی نشده" /></a>
                                    <a href="#"><img width="80" height="80" data-src="/Modules/Assets/MainPage/etehadiyeLogo.png" alt="پیاده سازی نشده" /></a>
                                    <a href="#"><img width="80" height="80" data-src="/Modules/Assets/MainPage/etehadiyeLogo.png" alt="پیاده سازی نشده" /></a>
                                    <a href="#"><img width="80" height="80" data-src="/Modules/Assets/MainPage/etehadiyeLogo.png" alt="پیاده سازی نشده" /></a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="footerSection">
                <div class="myContainer">
                    <div class="footerSharingAndCopyRightSection">
                        <div class="footerCopyRightSection">
                            کلیه حقوق این سرویس (وب‌سایت و اپلیکیشن‌های موبایل) محفوظ و متعلق به شرکت کارگزاری بر خط اوج می‌باشد.
                        </div>
                        <div class="footerSharingIconSection">
                            <a href="#"><img width="32" height="32" alt="تلگرام" data-src="/Modules/Assets/MainPage/telegram.svg" /></a>
                            <a href="#"><img width="32" height="32" alt="تویتر" data-src="/Modules/Assets/MainPage/twitter.svg" /></a>
                            <a href="#"><img width="32" height="32" alt="انستاگرام" data-src="/Modules/Assets/MainPage/instagram.svg" /></a>
                            <a href="#"><img width="32" height="32" alt="لینک این" data-src="/Modules/Assets/MainPage/linkedin.svg" /></a>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </div>

    <script>
        bindFooterExteraLinks();
        bindFooterExteraLinkGroups();
        bindFooterSambole();
        bindFooterPhoneAndAddress();
        $('img[data-src]').loadImageOnScroll();
         if(isLH == false)
         {
            $('#floatingFooter').initFloatingFooter('floatingFooterDestination');
            $('.animationOnScroll').initScrollAnimation();
         }
        else
        {
            $('.animationOnScrollOpacity').removeClass('animationOnScrollOpacity');
            $('.animationOnScrollMarginTop').removeClass('animationOnScrollMarginTop');
            $('.animationOnScrollOpacityFlip').removeClass('animationOnScrollOpacityFlip');
        }

        $('.showMoreButton').initShowMoreButtons('holderfooterProductMenuItems');
       
    </script>
    @RenderSection("FooterR", required: false)
</body>
</html>
