@using Oje.Section.WebMain.Interfaces
@{
    Layout = "_WebLayout";
}

@model Oje.Section.WebMain.Models.View.PageWebVM
@inject Oje.AccountService.Interfaces.ISiteSettingService SiteSettingService

@section Styles {
<link rel="stylesheet" asp-append-version="true" href="/Modules/Core/css/page.min.css.gz" />
<style>
    .mySliderItem>img {
        width:100%;
    }
    .mySliderItems {
        padding-top:0px;
    }
</style>
}

<div class="pageG">
    <div class="pageGSocial removeBoxShadow">
        <a href="#">
            <img width="32" height="32" alt="تلگرام" src="/Modules/Assets/MainPage/telegramsilver.svg"  data-alt-src="/Modules/Assets/MainPage/telegram.svg"  />
        </a>
        <a href="#">
            <img width="32" height="32" alt="اینتساگرام" src="/Modules/Assets/MainPage/instagramsilver.svg"  data-alt-src="/Modules/Assets/MainPage/instagram.svg" />
        </a>
        <a href="#">
            <img width="32" height="32" alt="تویتر" src="/Modules/Assets/MainPage/twittersilver.svg"  data-alt-src="/Modules/Assets/MainPage/twitter.svg" />
        </a>
    </div>
    <div class="pageGHolderMainImage">
        <div class="myContainer HolderPageGTitleButton removeBoxShadow">
            <div class="PageGTitleButton">
                <h1 @{ ViewContext.Writer.Write(!string.IsNullOrEmpty(Model.stColorCode) ? "style=\"color:"+ Model.stColorCode +";\"": ""); }>@Model.title</h1>
                @{
                    if (!string.IsNullOrEmpty(Model.subTitle))
                    {
                        <h2 @{ ViewContext.Writer.Write(!string.IsNullOrEmpty(Model.stColorCode) ? "style=\"color:"+ Model.stColorCode +";\"": ""); } >@Model.subTitle</h2>
                    }
                    if (!string.IsNullOrEmpty(Model.bLink) && !string.IsNullOrEmpty(Model.bTitle))
                    {
                        <a href="@Model.bLink" title="@Model.bTitle" class="mainBtn">@Model.bTitle</a>
                    }
                }
            </div>
        </div>
        @{
            if(Model.PageWebSliderVMs != null && Model.PageWebSliderVMs.Count > 0)
            {
                <div id="pageSlider">
                </div>
                <script>
                    $('document').ready(function() {
                        $('#pageSlider').initSlider({
                            dontShowTitle: true,
                            bigCount: 1,
                            normalCount: 1,
                            smallCount: 1,
                            autoStart:3000,
                            data: @{ ViewContext.Writer.Write(Newtonsoft.Json.JsonConvert.SerializeObject(Model.PageWebSliderVMs)); }
                        });
                    });
                </script>
            }
            else
            {
                <img alt="@Model.title" class="pageGMainImageMP8" width="2000" height="600" src="@Model.mainImage" />
                <img alt="@Model.title" class="pageGMainImageMM8" width="800" height="600" src="@Model.mainImageSmall" />
            }
        }
       
        <div class="myContainer removeBoxShadow">
            <ul style="border-bottom:none;" class="breadcrumb">
                <li><a href="/">@(SiteSettingService.GetSiteSetting().Title)</a></li>
                <li>@Model.title</li>
            </ul>
        </div>
    </div>
    @{
        var sorrtedItem = Model.Items;
        foreach (var item in sorrtedItem)
        {
            IPageWebItemVM tempItem = item as IPageWebItemVM;
            if (tempItem.type == Oje.Infrastructure.Enums.PageWebItemType.LeftAndRight)
            {
                Html.RenderPartial("pageLeftAndRightDesign", item);
            }
            else if (tempItem.type == Oje.Infrastructure.Enums.PageWebItemType.Manifest)
            {
                Html.RenderPartial("pageManifestDesign", item);
            }
        }
    }

</div>